div{
  height: 100%;
  top: 0;
  bottom: 0;
}

.grid div{
  padding-top: 10%;
}

.main{
  background-image: url("../../../assets/blueprint_bg.png");
  background-repeat: repeat;
}

.partpicker {
  display: inline-block;
}

