.div-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100%;
}

.main_component {
  height: 100vh;
}

form div {
  padding: 5px;
}

form {
  display: inline-grid;
  width: 50%;
  align-self: center;
}

.subForm {
  width: 100%;
  display: inline-grid;
}

.buttons {
  padding: 5px;
}

button{
  margin: 0 1%;
}

#title{
  margin-right: auto;
  margin-left: auto;
  width: 50%;
  margin-bottom: 5%;
}

#content{
  margin-right: auto;
  margin-left: auto;
  width: 50%
}

mat-card{
  text-align: center;
  width: 60%;
  top: 0;
  margin: 2% auto -5% auto;
}
