<div class="main_component">
  <div class="div-flex">
    <mat-stepper orientation="vertical">
        <mat-step [stepControl]="firstFormGroup" errorMessage="You have to enter your email!">
          <form [formGroup]="firstFormGroup">
            <ng-template matStepLabel>Enter your email address!</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="test@gmail.com" formControlName="emailCtrl" required>
            </mat-form-field>
            <div>
              <button mat-raised-button matStepperNext color="primary">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="secondFormGroup" errorMessage="You have to create a password!">
          <form [formGroup]="secondFormGroup">
            <ng-template matStepLabel>Create a safe password!</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>Password</mat-label>
              <input matInput type="password" formControlName="passCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Confirm password</mat-label>
              <input matInput type="password" formControlName="rePassCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>
              <button mat-raised-button matStepperPrevious color="warn">Back</button>
              <button mat-raised-button matStepperNext color="primary">Next</button>
            </div>
          </form>
        </mat-step>
        <mat-step [stepControl]="thirdFormGroup" errorMessage="You have to type in your full name!">
          <form [formGroup]="thirdFormGroup" (ngSubmit)="onSubmit()">
            <ng-template matStepLabel>What's your name?</ng-template>
            <mat-form-field appearance="fill">
              <mat-label>First name</mat-label>
              <input matInput formControlName="firstNameCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <mat-form-field appearance="fill">
              <mat-label>Last name</mat-label>
              <input matInput formControlName="lastNameCtrl" placeholder="Ex. 1 Main St, New York, NY"
                     required>
            </mat-form-field>
            <div>
              <button mat-raised-button matStepperPrevious color="warn">Back</button>
              <button mat-raised-button (click)="goBack()" color="accent">Back to the dashboard</button>
              <button mat-raised-button type="submit" color="primary">Done</button>
            </div>
          </form>
        </mat-step>
    </mat-stepper>

<!--    <mat-card id="title">-->
<!--      <mat-card-content><h1>Register an account!</h1></mat-card-content>-->
<!--    </mat-card>-->
<!--    <mat-card id="content">-->
<!--      <mat-card-content>-->
<!--        <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()">-->
<!--          <mat-form-field>-->
<!--            <mat-label>Email:</mat-label>-->
<!--            <input matInput type="text" formControlName="email">-->
<!--          </mat-form-field>-->
<!--          <mat-form-field>-->
<!--            <mat-label>Password:</mat-label>-->
<!--            <input matInput type="password" formControlName="password">-->
<!--          </mat-form-field>-->
<!--          <mat-form-field>-->
<!--            <mat-label>Confirm password:</mat-label>-->
<!--            <input matInput type="password" formControlName="repassword">-->
<!--          </mat-form-field>-->
<!--          <div formGroupName="name" class="subForm">-->
<!--            <mat-form-field>-->
<!--              <mat-label>First name:</mat-label>-->
<!--              <input matInput type="text" formControlName="firstname">-->
<!--            </mat-form-field>-->
<!--            <mat-form-field>-->
<!--              <mat-label>Last name:</mat-label>-->
<!--              <input matInput type="text" formControlName="lastname">-->
<!--            </mat-form-field>-->
<!--          </div>-->
<!--          <div>-->
<!--            <span class="buttons"><button mat-raised-button color="primary" type="submit">Register</button></span>-->
<!--            <span><button mat-raised-button color="primary" (click)="goBack()">Back</button></span>-->
<!--          </div>-->
<!--        </form>-->
<!--      </mat-card-content>-->
<!--    </mat-card>-->
  </div>
</div>
