<span class="loading-indicator" *ngIf="loading">
  <mat-spinner></mat-spinner>
</span>

<div class="main_component">
  <mat-card id="title">
    <mat-card-content><h1>Log in to the website!</h1></mat-card-content>
  </mat-card>
  <mat-card id="content">
    <mat-card-content>
      <div class="form">
        <mat-form-field>
          <mat-label for="email">Email:</mat-label>
          <input matInput id="email" type="text" [formControl]="email"></mat-form-field>
        <mat-form-field>
          <mat-label for="password">Password:</mat-label>
          <input matInput id="password" type="password" [formControl]="password"></mat-form-field>
        <span id="buttons">
        <span><button mat-raised-button color="primary" (click)="login() ">Login</button></span>
        <span><button mat-raised-button color="warn" [routerLink]="'/signup'">Sign Up</button></span>
      </span>
      </div>
    </mat-card-content>
  </mat-card>
</div>
