.main_component{
  height: 100vh;
}

.form{
  display: inline-grid;
  align-self: center;
}

span {
  padding: 5px;
}

#title{
  width: 40%;
  margin: 5% auto;
  padding: 2% 5%;
  display: flex;
  justify-content: center;
  text-align: center;
}

#content{
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  padding: 5% 5%;
  width: 40%;
}


