.main_component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  height: 100vh;
}

.form{
  display: inline-grid;
  width: 40%;
  align-self: center;
}

span {
  padding: 5px;
}

#title{
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  margin-bottom: 5%;
}

#content{
  margin-right: auto;
  margin-left: auto;
  width: 40%;
  padding: 5% 0;
}

.form span{
  padding: 10% 7%;
}


