<div class="grid-container">
  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows" [routerLink]="card.path">
      <mat-card class="dashboard-card">
        <mat-card-header style="margin: 10px">
          <mat-card-title>
            {{card.title}}
          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">
          <div id="banners">
            <img mat-card-image [src]="'../../../assets/' + card.pic" >
          </div>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
