<mat-grid-list cols="1">
  <div>
    <img src="assets/cpu.png" alt="Processor placeholder" [src]="loadedCpu">
    <img src="assets/mobo.png" alt="Motherboard placeholder" [src]="loadedMobo">
  </div>
  <div>
    <img src="assets/gpu.png" alt="Graphics card placeholder" [src]="loadedGpu">

  </div>

  <div>
    <img src="assets/ssd.png" alt="Drive placeholder" [src]="loadedStorage">
    <img src="assets/ram.png" alt="Ram placeholder" [src]="loadedRam">
  </div>
  <div>
    <img src="assets/psu.png" alt="Power supply placeholder" [src]="loadedPsu">
    <img src="assets/case.png" alt="Pc case placeholder" [src]="loadedCase">
  </div>


<!--  <mat-grid-tile colspan="2" fxFlexAlign="center">-->
<!--    <div>-->
<!--      <img src="assets/cpu.png" alt="Processor placeholder">-->
<!--    </div>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile fxFlexAlign="center">-->
<!--    <div>-->
<!--      <img src="assets/mobo.png" alt="Motherboard placeholder">-->
<!--    </div>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile fxFlexAlign="center">-->
<!--    <div>-->
<!--      <img src="assets/gpu.png" alt="Graphics card placeholder">-->
<!--    </div>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile fxFlexAlign="center">-->
<!--    <div>-->
<!--      <img src="assets/ram.png" alt="Ram placeholder">-->
<!--    </div>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile fxFlexAlign="center">-->
<!--    <div>-->
<!--      <img src="assets/ssd.png" alt="Drive placeholder">-->
<!--    </div>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile fxFlexAlign="center">-->
<!--    <div>-->
<!--      <img src="assets/psu.png" alt="Power supply placeholder">-->
<!--    </div>-->
<!--  </mat-grid-tile>-->
<!--  <mat-grid-tile fxFlexAlign="center">-->
<!--    <div>-->
<!--      <img src="assets/case.png" alt="Pc case placeholder">-->
<!--    </div>-->
<!--  </mat-grid-tile>-->
</mat-grid-list>

